/*
    Authors: MJ Galbraith (100755993), Matthew Austin (100660651)
    File: app.css
    Date: 2022/02/09
    Description: 
        This is the base css file for the webd6201 lab01 website
*/
body {
    background-color: #696969;
    color: lime;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.headShot {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4xpx; 
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}